<li class="list">
  <div class="basecamp_srp_object">
    <%= link_to 'Details', edit_region_path(region), :class=>"fancy edit" -%>
    <span class="title"><%= region.name %></span>
    <%= link_to 'DELETE', region_path(region), :method => :delete, :confirm => 'This region will be deleted forever.  Are you sure?', :class=>"delete" -%>
  </div>
</li>